.form-comment{
    font-size: 18px;
}

.form-comment label {
    margin: 10px 10px;
}

.form-comment input{
    border-radius: 15px;
    padding: 15px;
    height: 50px;
    width: 250px;
}

.form-comment textarea{
    border-radius: 15px;
    padding: 15px;
    height: 150px;
    width: 100%;
    resize: vertical
}

.form-comment div{
    margin: 10px
}


